@model BowlingWebApplication.Models.ViewModel.DeliveryInputViewModel
    <script src="~/js/BowlingDeliveryInput.js"></script>


    <form class="m-1 p-1" asp-action="BowlingDeliveryInput" method="post">
        <input asp-for="FrameIndex" type="hidden" value="@Model.FrameIndex" />
        <input asp-for="CurrentRowIndex" type="hidden" value="@Model.CurrentRowIndex" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CurrDeliveryInFrameIndex">Delivery Number in this Frame</label>
            <label id="currDeliveryInFrameCt">@(Model.CurrDeliveryInFrameIndex+1) </label>
            <input asp-for="CurrDeliveryInFrameIndex" type="hidden" value="@Model.CurrDeliveryInFrameIndex" />
        </div>
        <div class="form-group">
            <label asp-for="PreviousDeliveryTypeText">Previous Delivery Type</label>
            <label>@Model.PreviousDeliveryTypeText</label>
            <input asp-for="PreviousDeliveryTypeText" type="hidden" value="@Model.PreviousDeliveryTypeText" />
            <input asp-for="PreviousDeliveryTypeCode" type="hidden" value="@Model.PreviousDeliveryTypeCode" />
        </div>
        <div class="form-group">
            <label asp-for="PreviousDeliveryPinsDown">Previous Pins Knocked Down</label>
            <label>@Model.PreviousDeliveryPinsDown</label>
            <input id="prevPinsDown" asp-for="PreviousDeliveryPinsDown" type="hidden" value="@Model.PreviousDeliveryPinsDown" />
        </div>
        <div class="form-group">
            <label>Current Player</label>
            <label>@Model.FirstName @Model.LastName</label>
            <input asp-for="FirstName" type="hidden" value="@Model.FirstName" />
            <input asp-for="LastName" type="hidden" value="@Model.LastName" />
        </div>
        <div class="form-group">
            <label asp-for="SelectedDeliveryCode">Type of Delivery</label>
            <select id="dpDnDeliveryCode" asp-for="SelectedDeliveryCode" asp-items="@Model.DeliveryTypes">
                <option>-select-</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="SelectedPinsDownCount">Pins to Knock Down</label>
            <select id="dpDnPinsDown" asp-for="SelectedPinsDownCount" asp-items="@Model.CountOfPinsAvailable" disabled="true">
                <option>-select-</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" />
        </div>
    </form>

