@model BowlingWebApplication.Models.ViewModel.DeliveryInputViewModel

<html>
<head>
    <script type="text/javascript">
        $(document).ready(function() {
            //on delivery choice of dropdown type, strike disable and set to 10
            //on fault set to zero
            //$("#playerDropdown").onchange(function() {
            //        $.ajax({
            //            type: "POST",
            //            url: "/Home/GetUserDeliveryInfo",
            //            data: { "selectedPlayerId": $(this).val()},
            //        success: function (response) {
            //            alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
            //        },
            //        failure: function (response) {
            //            alert(response.responseText);
            //        },
            //        error: function (response) {
            //            alert(response.responseText);
            //        }
            //    });
            //});
        });
    </script>
</head>
<body>
    <form class="m-1 p-1" asp-action="BowlingDeliveryInput" method="post">
        <div class="form-group">
            <label asp-for="PreviousDeliveryTypeText">Previous Delivery Type</label>
            <label>@Model.PreviousDeliveryTypeText</label>
        </div>
        <div class="form-group">
            <label asp-for="PreviousDeliveryCount">Previous Pins Knocked Down</label>
            <label>@Model.PreviousDeliveryCount</label>
        </div>
        <div class="form-group">
            <label asp-for="SelectedPlayerId">Players</label>
            <select asp-for="SelectedPlayerId" asp-items="@Model.Players" id="playerDropdown">
                <option> - Select -</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="SelectedDeliveryType">Type of Delivery</label>
            <select asp-for="SelectedDeliveryType" asp-items="@Model.DeliveryTypes">
                <option> - Select -</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="SelectedPinCount">Pins to Knock Down</label>
            <select asp-for="SelectedPinCount" asp-items="@Model.CountOfPinsAvailable">
                <option> - Select -</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" />
        </div>
    </form>
</body>
</html>
