@model BowlingWebApplication.Models.ViewModel.ScoreCardViewModel

<html>
<head>

</head>
<body>
<div class="row justify-content-center">
    <h1 class="text-center">Bowling Game</h1>
</div>
<div class="col-lg-12">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
        </tr>
        </thead>
        <tbody>
        @if (@Model.ScoreCardRows.Count == 0 && @Model.CurrentFrameId<1)
        {
            <tr><td><a href="~/Home/CreateBowlingUser/">Create a user</a></td></tr>
        }
        else
        {
            @foreach (var rowItem in @Model.ScoreCardRows)
            {
                <tr>
                    <td class="solid-margin font-weight-bold player-name-box">
                        <div>@rowItem.FirstName @rowItem.LastName</div>
                    </td>
                    @for (int frameCounter = 1; frameCounter < 11; frameCounter++)
                    {
                        <td class="parent-scoring-element">
                            <div class="d-flex flex-nowrap float-right player-turn-row">
                                @if (frameCounter < 10)
                                {
                                    <div class="player-first-turn-score-box">XX</div>
                                    <div class="player-second-turn-score-box">XX</div>
                                }
                                else
                                {
                                    <div class="player-first-tenth-turn-score-box">zz</div>
                                    <div class="player-third-tenth-turn-score-box">zz</div>
                                }
                            </div>
                            <div class="float-none cumuluative-scoring-box">
                                @*<div class="font-weight-bold">@frameInfo.CumulativeScore.ToString()</div>*@
                                @if (frameCounter == Model.CurrentFrameId)
                                {
                                    <div><a href="~/Home/BowlingDeliveryInput?playerId=@rowItem.PlayerId&currFrameId=@frameCounter&currDeliveryId=0&prevDeliveryType=0&prevPinsDown=0">Roll ball</a></div>
                                }
                                else
                                {
                                    <div class="font-weight-bold">XX</div>
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        }
        </tbody>
    </table>
</div>
</body>
</html>