@model BowlingWebApplication.Models.ViewModel.FullGameModel

<html>
<head>
    <style>
        th {
            text-align: center;
            border-style: solid;
            width: 50em;
        }

        .solid-margin {
            border-style: solid;
        }

        .parent-scoring-element {
            text-align: center;
            border-style: solid;
            width: 50em;
            padding: 0;
            vertical-align: baseline;
        }

        .player-turn-row {
            margin-left: 100%;
        }

        .player-first-turn-score-box {
            width: auto;
            font-weight: bold;
            padding-right: 1em;
            height: 2em;
        }

        .player-second-turn-score-box {
            border-left-style: solid;
            border-bottom-style: solid;
            font-weight: bold;
            width: 2em;
            height: 2em;
        }

        .player-first-tenth-turn-score-box {
            border-left-style: solid;
            border-bottom-style: solid;
            font-weight: bold;
            width: 3em;
            height: 2em;
        }

        .player-second-tenth-turn-score-box {
            border-left-style: solid;
            border-bottom-style: solid;
            font-weight: bold;
            width: 2em;
            height: 2em;
        }

        .player-third-tenth-turn-score-box {
            border-left-style: solid;
            border-bottom-style: solid;
            font-weight: bold;
            width: 3em;
        }

        .cumuluative-scoring-box {
            padding-top: 2.5em;
        }

        .player-name-box {
            padding: 1em;
        }

    </style>
</head>
<body>
<div class="row justify-content-center">
    <h1 class="text-center">Bowling Game</h1>
</div>
<div class="col-lg-12">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var playerInfo in Model.GamePlayers)
        {
            <tr>
                <td class="solid-margin font-weight-bold player-name-box">
                    <div>@playerInfo.FirstName @playerInfo.LastName</div>
                </td>
                @foreach (var frameInfo in playerInfo.DeliveryFrames)
                {
                    <td class="parent-scoring-element">
                        <div class="d-flex flex-nowrap float-right player-turn-row">
                            @if (frameInfo.FrameId < 10)
                            {
                                    <div class="player-first-turn-score-box">@frameInfo.FirstDeliveryMark</div>
                                    <div class="player-second-turn-score-box">@frameInfo.SecondDeliveryMark</div>
                            }
                            else
                            {
                                <div class="player-first-tenth-turn-score-box">@frameInfo.FirstDeliveryMark</div>
                                <div class="player-second-tenth-turn-score-box">@frameInfo.SecondDeliveryMark</div>
                                <div class="player-third-tenth-turn-score-box">xx</div>
                            }
                        </div>
                        <div class="float-none cumuluative-scoring-box">
                            @*<div class="font-weight-bold">@frameInfo.CumulativeScore.ToString()</div>*@
                            @if (!frameInfo.IsFirstDeliveryCompleted &&
                                !frameInfo.IsSecondDeliveryCompleted &&
                                frameInfo.FrameId == Model.CurrentFrameId)
                            {
                                <div><a href="#">Roll ball</a></div>
                            }
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>