@model BowlingWebApplication.Models.ViewModel.DeliveryInputViewModel
    <script src="~/js/BowlingDeliveryInput.js"></script>

<form class="m-1 p-1" asp-action="BowlingDeliveryInput" method="post">
    <div class="form-group">
        <label asp-for="CurrDeliveryInFrameCount">Delivery Number in this Frame</label>
        <label>@Model.CurrDeliveryInFrameCount</label>
        <input asp-for="CurrDeliveryInFrameCount" type="text" value="@Model.CurrDeliveryInFrameCount" style="display: none"/>
        
    </div>
    <div class="form-group">
        <label asp-for="PreviousDeliveryTypeText">Previous Delivery Type</label>
        <label>@Model.PreviousDeliveryTypeText</label>
        @Html.Hidden("CurrDeliveryInFrameIndex", @Model.CurrDeliveryInFrameIndex)
    </div>
    <div class="form-group">
        <label asp-for="PreviousDeliveryPinsDown">Previous Pins Knocked Down</label>
        <label id="prevPinsDown">@Model.PreviousDeliveryPinsDown</label>
        @Html.Hidden("PreviousDeliveryPinsDown", @Model.PreviousDeliveryPinsDown)
    </div>
    <div class="form-group">
        <label>Current Player</label>
        <label>@Model.FirstName @Model.LastName</label>
    </div>
    <div class="form-group">
        <label asp-for="SelectedDeliveryCode">Type of Delivery</label>
        <select id="dpDnDeliveryCode" asp-for="SelectedDeliveryCode" asp-items="@Model.DeliveryTypes">
            <option>-select-</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="SelectedPinsDownCount">Pins to Knock Down</label>
        <select id="dpDnPinsDown" asp-for="SelectedPinsDownCount" asp-items="@Model.CountOfPinsAvailable">
            <option>-select-</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit"/>
    </div>
</form>
@section Scripts
{
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/js/BowlingDeliveryInput.js"></script>
}
