@model BowlingWebApplication.Models.ViewModel.ScoreCardViewModel

<html>
<head>
    <style>
        .cumulative-cells-height {
            height: 2em;
        }
    </style>
</head>
<body>
<div class="row justify-content-center">
    <h1 class="text-center">Bowling Game</h1>
</div>
<div class="col-lg-12">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
        </tr>
        </thead>
        <tbody>
        @if (@Model.ScoreCardRows.Count == 0 && @Model.CurrentFrameId<1)
        {
            <tr><td><a href="~/Home/CreateBowlingUser/">Create a user</a></td></tr>
        }
        else
        {
            @foreach (var rowItem in @Model.ScoreCardRows)
            {
                <tr>
                    <td class="solid-margin font-weight-bold player-name-box">
                        <div>@rowItem.FirstName @rowItem.LastName</div>
                    </td>
                    @for (int frameCounter = 0; frameCounter < 10; frameCounter++)
                    {
                        <td class="parent-scoring-element">
                            <div class="d-flex flex-nowrap float-right player-turn-row">
                                @if (frameCounter < 9)
                                {
                                    <div class="player-first-turn-score-box">@rowItem.ScoreCardFrames[frameCounter].FirstDeliveryMark</div>
                                    <div class="player-second-turn-score-box">@rowItem.ScoreCardFrames[frameCounter].SecondDeliveryMark</div>
                                }
                                else
                                {
                            <div class="player-first-tenth-turn-score-box">@rowItem.ScoreCardFrames[frameCounter].FirstDeliveryMark</div>
                            <div class="player-second-tenth-turn-score-box">@rowItem.ScoreCardFrames[frameCounter].SecondDeliveryMark</div>
                            <div class="player-third-tenth-turn-score-box">@rowItem.ScoreCardFrames[frameCounter].BonusDeliveryMark</div>
                                }
                            </div>
                            <div class="float-none cumuluative-scoring-box">
                                @if (frameCounter == Model.CurrentFrameId)
                                {
                                    <div class="font-weight-bold cumulative-cells-height">
                                        <a href="~/Home/BowlingDeliveryInput?playerId=@rowItem.PlayerId&currRowIndex=@Model.CurrentScoreCardRowIndex&currFrameId=@frameCounter&currDeliveryInFrameCt=@Model.CurrentDeliveryInFrameCount&prevDeliveryType=@Model.PreviousDeliveryType&prevPinsDown=@Model.PreviousPinDownCount">Roll ball</a>
                                    </div>
                                }
                                else
                                {
                                    if (@rowItem.ScoreCardFrames[frameCounter].FrameCumulativeScore==0)
                                    {
                                        <div class="font-weight-bold cumulative-cells-height"> </div>
                                    }
                                    else
                                    {
                                        <div class="font-weight-bold cumulative-cells-height">@rowItem.ScoreCardFrames[frameCounter].FrameCumulativeScore</div>    
                                    }
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        }
        </tbody>
    </table>
</div>
</body>
</html>